.b-main-page-slider-wrap {
  padding: 30px;
  background-color: #f2f2f2;


  .b-main-page-slider-wrap__bottom-border {
    border-bottom: 1px solid lighten ($lightColor, 30%);
  }

  &__slider {
    padding: 10px;
    background-color: $lightestColor;
    border: 1px solid  lighten($lightColor, 30%);
  }

  &__bullets {
    display: flex;
    align-items: center;
    width: 156px;
    justify-content: space-between;
    margin: 21px auto 0;
  }

  &__left,
  &__right {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #333;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    &:hover {
      background-color: $hoverColor;
    }

    &:active {
      background-color: $majorColor;
    }

  }

  &__bullet {
    background-color: #333;
    border-radius: 50%;
    width: 12px;
    height: 12px;

    &:hover {
      background: transparent;
      border: 2px solid #333;
      cursor: pointer;
    }

    &:active {
      background-color: $majorColor;
    }
  }
}